.bars-container {
    width: 100%;
    display: flex;
}

.bar-and-day {
    color: var(--mediumbrown);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.bar-and-day:hover {
    cursor: pointer;
}

.bar-and-day:hover .todays-spending {
    display: block;
}

.todays-spending {
    display: none;
    font-size: 15px;
    background-color: var(--darkbrown);
    color: var(--verypaleorange);
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 4px;
}

.todays-spending .day {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bar {
    width: 2.3rem;
    border-radius: 5px;
    opacity: 1;
    transition: 0.3s;
}

.bar:hover {
    opacity: 0.8;
}